/* button.css */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 4%);
    margin-top: 350px;
    padding: 0;
    background-image: url('../images/happy.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.main{
    font-size: 15px;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    color: hwb(300 8% 10%);
    text-align: center;
}
.button02 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    color: hwb(0 100% 0%);
    background-color: #db24db;
    border: 2px solid hwb(300 8% 10%);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button02:hover {
    background-color: rgb(227, 158, 31);
    border-color: rgb(163, 84, 10);
}

.button02:focus {
    outline: none;
}



